/*
    Resources Used
    Scroll Feature: https://www.youtube.com/watch?v=T33NN_pPeNI
    Button: https://getcssscan.com/css-buttons-examples
    Slideshow: https://www.youtube.com/watch?v=4YQ4svkETS0
*/

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: REGULAR;
    src: url("./tan-nimbus.otf") format("opentype");
}

:root {
    --lightgreen: #effae6;
    --darkgreen: #556542;
    --lightyellow:#fbe7b4;
    --darkyellow:#f6c477;
}

body{
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    font-family: Inria-Serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
div{
    display: flex;
    justify-content: center;
}
.slideshow{
    gap: 300px;
}
.description{
    gap: 100px;
}
.normal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    font-size: 30px;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

h1{
    font-family: REGULAR;
    color: var(--darkgreen);
    font-size: 70px;
}
h2{
    font-family: REGULAR;
    font-size: 90px;
    color: var(--darkgreen);
    align-content: center;
}
h3{
    font-size: 40px;
}
p{
    text-align: center;
    color: var(--lightgreen);
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s; /* fade in animation */
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Button*/
.button-56 {
  align-items: center;
  background-color: var(--darkyellow);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* Button End */

/* Slide Show */
#slider{
    position: relative;
    width: 388px;
    height: 845px;

    /* overflow: hidden; */
}

.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide1 {
    background-image: url("images/p1login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide2 {
    background-image: url("images/p2garden.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.slide3 {
    background-image: url("images/p3totalplants.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.slide4 {
    background-image: url("images/p4savings.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent var(--darkyellow) transparent transparent;
  left: -30%;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent var(--darkyellow);
  right: -30%;
  margin-right: 30px;
}